.title{
    color: white;
    margin: 5rem auto 2rem;
    font-size: 6rem;
    text-align: center;
}

.grid_contain{
    display: grid;
    grid-template-columns: repeat(2, 20rem);
    margin: 0 auto;
    padding: 2rem;
    justify-content: center;
    border-radius: 10px;
    gap: 1rem;
    width: 50rem;
    background-color: rgba(0, 0, 0, 0.534);
}

.grid_contain div{
    border-radius: 10px;
    overflow: hidden;
    height: 25rem;
}