@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--body-font);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

h1{
    font-family: var(--second-font);
}

:root {
  /* Background */
  --color-background: #0f1115;   /* đen xanh sang */
  --color-container: #1a1d23;    /* xám đậm hơn để nổi khối */

  /* Text */
  --color-text-main: #f5f5f5;       /* trắng nhẹ (không gắt) */
  --color-text-secondary: #b3b3b3;  /* xám nhạt */
  --color-text-accent: #d4af37;     /* GOLD ✨ */

  /* Accent */
  --color-accent: #d4af37;          /* vàng gold */
  --color-accent-hover: #f1d97a;    /* gold sáng hơn */

  /* Border */
  --color-border: #2a2f38;          /* viền rất subtle */

  /* Typography */
  --body-font: "Montserrat", sans-serif;
  --second-font: "Dancing Script", cursive;

  --biggest-font-size: 3rem;
  --bigger-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;
}

.nav_bar{
    display: flex;
    height: 4rem;
    width: 100%;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #2a2f3897;
}

button {
    padding: .5rem;
    width: 6rem;
    height: 3rem;
    border: none;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba(255,255,255,0.15);
    color: rgb(255, 255, 255);
    font-family: var(--body-font);
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s ease;
}

button:hover{
    box-shadow: 0px 0px 4px 1px rgb(237, 236, 236);
}